.screen-section-nine {
  align-items: center;
  background-color: #1c1c1c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 100%;
  margin-top: 5px;
}

.footer-log-wrapper .footer-log {
  min-width: 22vw;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../../assets/footer-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.screen-section-nine .div {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  width: 90%;
}

.screen-section-nine .social-media-icons-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
}

.screen-section-nine .social-media-icons {
  background-size: cover;
  height: 50%;
  width: 50%;
}

.screen-section-nine .div-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.screen-section-nine .text-wrapper {
  align-self: stretch;
  color: #cccccc;
}

.screen-section-nine .text-wrapper-2 {
  align-self: stretch;
  color: #ffffff;
}

.screen-section-nine .div-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.screen-section-nine .amity-university {
  color: transparent;
  width: fit-content;
}

.screen-section-nine .span {
  color: #0eb34c;
}

.screen-section-nine .text-wrapper-3 {
  color: #ffffff;
}

.screen-section-nine .siddharth-university {
  color: transparent;
  width: fit-content;
}

.screen-section-nine .registered-address {
  color: transparent;
  width: fit-content;
}

.screen-section-nine .copyright-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: white;
}

.screen-section-nine .p {
  color: var(--color-text-color);
  width: fit-content;
}

.screen-section-nine .social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 30%;
}

.screen-section-nine .img {
  flex: 0 0 auto;
}
