.first-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 100%;
  z-index: -1;
}

.first-content-container h3 {
  margin: 2rem;
}

.first-content-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form-conatiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-element-holder {
  width: 100%;
  border: 0.5px solid rgba(167, 159, 159, 0.388);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.input-Date-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.input-item div {
  border: none;
  outline: none;
  height: 30px;
}

.input-item input {
  border: none;
  width: 100%;
  /* border-bottom: 0.5px solid rgba(167, 159, 159, 0.388); */
  outline: none;
  height: 30px;
}

.input-item textarea {
  border: none;
  outline: none;

  border-bottom: 0.5px solid rgba(167, 159, 159, 0.388);
}

.input-label label {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.5rem 0;
  color: #898585;
}
