.company-card {
  height: 40%;
  min-width: 20%;
  background-color: white;
  border-radius: 10px;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}
