.screen-one {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(10, 10, 10);
}

.box-1 {
  background-color: rgb(14, 179, 77);
  border-radius: 10px;
  z-index: 10;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 .content .title {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
}
.box-1 .content {
  width: 80%;
}

.box-1 .content .title {
  text-align: left;
}

.box-2 {
  height: 100%;
  width: 50%;
  overflow: hidden;
  border-radius: 10px;
}

.hand-image-box {
  height: 100%;
  width: 70%;
  background-image: url("/src/assets/hand-phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 10%;
  left: 70%;
  transform: translateX(-50%);

  /* background-position: center; */
}

.download-button {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
}
.download-button:hover {
  border-radius: 10px !important;
  color: white !important;
  background-color: transparent !important;
  border: 1px solid white !important;
}

.people-avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.people-avatars-text {
  color: white;
  margin-left: 1rem;
}
