.active-webinar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  min-height: 60vh;
  margin-bottom: 2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.584);
}

.active-wbinar-heading {
  width: 100%;
}

.active-webinar-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.active-webinar-cards-container::-webkit-scrollbar {
  display: none;
}
