.slide-card-section {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 179, 77);
}

.slide-card-section h2 {
  color: white;
}

.slide-card-section h2 span {
  color: green;
}

.slide-cards-conatiner {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.slide-card-col {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide-card-row {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-1 {
  grid-row: 1/3;
}

.card-2 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.slide-card-col-img {
  min-height: 50%;
  width: 100%;
  background-image: url("https://via.placeholder.com/150");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
}

.slide-card-col-content {
  min-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.slide-card-col-content-text {
  color: white;
}

.rating-box {
  font-size: 0.7rem;
}

.slide-card-col-content span {
  padding: 0px 10px;
}

.slide-card-row-img {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-card-row-content {
  min-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.slide-card-row-content p {
  color: white;
  font-size: 0.8rem;
}
