.steps-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  z-index: 1;
  width: 100%;
  min-height: 90%;
}

.steps-content-box {
  min-width: 80%;
  background-color: white;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon {
  background: #17403b;
  border-color: #17403b;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #17403b;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon {
  background-color: #17403b;
  border-color: #17403b;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: white;
}
