.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.534);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-n; */
  align-items: center;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: green;
}

.navbar ul li button {
  background-color: rgb(14, 179, 77);
  border: 1px solid rgb(14, 179, 77);
  color: white;
  margin-right: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-weight: 500;
  font-size: 1.5rem;
}

.logo div {
  margin: 0 0.5rem;
}
