.screen-eight-frame {
  height: 40vh;
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-eight-content {
  border: 1px solid white;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen-eight-content .text-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.screen-eight-content .text-wrapper {
  color: #ffffff;
}

.screen-eight-content .p {
  color: #cccccc;
  text-align: center;
}

.screen-eight-content .join-OUR-WAITLIST-wrapper {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 12px 16px;
  cursor: pointer;
}
